@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;400;700&family=Montserrat:wght@100;200;300;400;600&family=Signika+Negative:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
// font-family: 'Advent Pro', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Signika Negative', sans-serif;

// base #2f4455
// purpledark #2e151B
// pink #DA7B93
// green #376E6F
// greendark #1C3334

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  // --base: rgb(255, 255, 255);
  // --purpleDark: #2e151b;
  // --pink: rgb(231, 156, 106);
  // --green: #4b81d3;
  // --greenDark: #0a2e64;
  // --lightGray: rgb(255, 255, 255);
  // --grayBlue: rgb(162, 164, 187);
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.App {
  position: relative;

  overflow: hidden;
}
