button {
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--green);
  color: #fff;
  &.red {
    background-color: rgb(190, 72, 64);
  }
  &.orange {
    background-color: rgb(192, 149, 55);
  }
}

input[type="submit"].submit-button {
  background-color: var(--green);
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  &:disabled {
    color: red;
    opacity: 0.7;
    background-color: var(--lightGray);
    color: rgb(128, 128, 128);
  }
}

.time-frame-add-button {
  width: 5%;
  font-size: 1.3rem;
  background-color: var(--green);
  border: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  span {
    display: block;

    transition: 0.4s;
  }
  &:hover {
    span {
      transform: scale(1.4) rotate(180deg);
    }
  }
}
.add-place-button {
  color: var(--purpledark);
  background-color: var(--pink);
  transition: 0.3s;
  cursor: pointer;
}

.add-reservation-button {
  display: block;
  width: 250px;
  border: none;
  padding: 10px 30px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--green);
  color: #fff;
  text-decoration: none;
}
