button {
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4b81d3;
  color: #fff;
  &.red {
    background-color: rgb(190, 72, 64);
  }
  &.orange {
    background-color: rgb(192, 149, 55);
  }
}

input[type="submit"].submit-button {
  background-color: #4b81d3;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  &:disabled {
    color: red;
    opacity: 0.7;
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
  }
}

.time-frame-add-button {
  width: 5%;
  font-size: 1.3rem;
  background-color: #4b81d3;
  border: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  span {
    display: block;

    transition: 0.4s;
  }
  &:hover {
    span {
      transform: scale(1.4) rotate(180deg);
    }
  }
}
.add-place-button {
  color: #2e151b;
  background-color: rgb(231, 156, 106);
  transition: 0.3s;
  cursor: pointer;
}

.button-bar {
  padding: 30px;
  display: flex;
}

.add-reservation-button,
.refresh-reservation-button {
  display: block;
  width: 300px;
  border: none;
  padding: 10px 30px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4b81d3;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.refresh-reservation-button {
  background-color: #09977d;
}
