.fc {
  color: var(--lightGray);
  * {
    z-index: 0 !important;
  }
  table {
    border: none !important;
    td {
      border: 1px solid var(--green);
      cursor: pointer;
    }
  }
  .fc-col-header-cell {
    background-color: var(--green);
    border: none !important;
  }
  .fc-day-today {
    background-color: var(--green) !important;
  }
  .fc-daygrid-event {
    white-space: pre-line;
    font-size: 0.7rem;
    background-color: var(--lightGray);
    border: none;
    padding: 3px;
    .fc-event-main {
      color: var(--greenDark) !important;
    }
  }
}
