.fc {
  color: #0a2e64;
  * {
    z-index: 0 !important;
  }
  .fc-daygrid-day-number {
    // background-color: rgb(231, 156, 106);
    margin: 5px;
    border-radius: 40px;
    border: 1px solid #4b81d3;
    width: 35px;
    aspect-ratio: 1/1;
    text-align: center;
    font-weight: 500;
  }
  table {
    border: none !important;
    td {
      border: 1px solid #4b81d3;
      cursor: pointer;
    }
  }
  .fc-col-header-cell {
    background-color: #4b81d3;
    color: rgb(255, 255, 255);
    border: none !important;
  }
  .fc-day-today {
    background-color: rgb(231, 156, 106) !important;
  }
  .fc-daygrid-day-events {
    .fc-daygrid-event-harness {
      background-color: #fff;
    }
    .fc-event-main {
      color: #0a2e64 !important;
    }
    .fc-daygrid-event {
      display: flex;
      padding: 3px;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid #4b81d3;
      row-gap: 5px;

      .event-title {
        display: none;

        font-weight: 500;
        font-size: 1rem;
      }
      .event-time {
        padding: 3px 10px;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: #4b81d3;
        display: flex;
        justify-content: space-between;
        svg {
          transition: 0.3s;
          // transform: rotate(180deg);
        }
      }
      .event-delete-button {
        display: none;
        font-size: 0.8rem;
      }
      .event-client {
        display: none;
        font-size: 0.8rem;
      }
      &.open {
        .event-title {
          display: block;
        }

        .event-client {
          display: block;
        }
        .event-delete-button {
          display: block;
          width: 100%;
          color: #0a2e64;
          background-color: rgb(231, 156, 106);
        }

        .event-time {
          svg {
            transition: 0.3s;
            transform: rotate(180deg);
            color: rgb(231, 156, 106);
          }
        }
      }
    }
  }
}
