.configuration-page {
  padding-top: 100px;
  background: linear-gradient(rgb(255, 255, 255), var(--base));
  min-height: calc(100vh - 60px);

  .api-links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;

    font-size: 1.5rem;
    strong {
      color: var(--greenDark);
      font-weight: 600;
    }
    a {
      text-decoration: none;
    }
  }

  nav.configuration-nav {
    display: flex;
    z-index: 0;
    justify-content: center;

    a {
      position: relative;
      text-decoration: none;
      background-color: none;
      background-color: var(--green);
      color: var(--lightGray);

      padding: 15px 40px;
      font-size: 0.9rem;
      cursor: pointer;
      text-transform: uppercase;
      transition: 0.3s;

      &.active {
        color: var(--pink);
        background-color: var(--greenDark);

        transition: 0.3s;
      }
    }
  }
  > main {
    padding: 10px;

    min-height: 90vh;
  }

  .configuration-pages-wrapper {
    margin: 0 10px;
    padding: 10px;
    // background-color: var(--greenDark);
  }
}
