.configuration-page {
  padding-top: 100px;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  min-height: calc(100vh - 60px);

  .data-loader.horizontal-info {
    svg {
      color: #4b81d3;
      font-size: 4rem;
      animation: colapse 3s infinite;
    }
  }

  @keyframes colapse {
    0% {
      transform: rotate(0deg);
      color: #ff0000;
    }

    60% {
      transform: rotate(90deg);
      color: #48c50d;
    }
    90% {
      transform: rotate(90deg);
      color: #48c50d;
    }
    100% {
      transform: rotate(0deg);
      color: #ff0000;
    }
  }

  .api-links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;

    font-size: 1.5rem;
    strong {
      color: #0a2e64;
      font-weight: 600;
    }
    a {
      text-decoration: none;
    }
  }

  nav.configuration-nav {
    display: flex;
    z-index: 0;
    justify-content: center;

    a {
      position: relative;
      text-decoration: none;
      background-color: none;
      background-color: #4b81d3;
      color: rgb(255, 255, 255);

      padding: 5px 20px;
      font-size: 0.9rem;
      cursor: pointer;
      text-transform: uppercase;
      transition: 0.3s;

      &.active {
        color: rgb(231, 156, 106);
        background-color: #0a2e64;

        transition: 0.3s;
      }
    }
  }
  > main {
    padding: 10px;

    min-height: 90vh;
  }

  .configuration-pages-wrapper {
    margin: 0 10px;
    padding: 10px;
    // background-color: #0a2e64;
  }
}

@media screen and (max-width: 768px) {
  .configuration-page {
    nav.configuration-nav {
      a {
        padding: 5px 10px;
        font-size: 0.7rem;
      }
    }
  }
}
