.place-picker {
  margin: 10px;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-size: 1.2rem;
  span.title {
    color: var(--lightGray);
    font-size: 1.5rem;
    font-weight: 100;
  }
  .react-dropdown-select {
    font-size: 1.1rem;
    padding: 5px 20px;
    border-radius: 40px 0 0 40px;
    flex-basis: 80% !important;
    min-width: 800px !important;
    border: none;
    height: 70px;
    background-color: var(--lightGray);
    flex-grow: 1;
    // overflow: hidden;
    .option-div {
      display: flex;
      flex-direction: column;
      padding: 5px 15px;
      background-color: var(--lightGray);
      .place-title {
        font-size: 1.2rem;
        font-weight: 400;
      }
      .place-info {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
  button {
    border-radius: 0 40px 40px 0;
  }
  > div {
    display: flex;
    justify-content: center;
  }
}
