form.service-form {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 30px;
  max-width: 600px;
  // .overlay {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background-color: rgb(46, 68, 85, 0.6);
  //   backdrop-filter: blur(10px);
  // }
  svg {
    color: rgb(192, 149, 55);
    font-size: 2rem;
  }
  input,
  textarea {
    padding: 10px;
    border: 1px solid #4b81d3;
    background-color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 300;
  }
  input[type="checkbox"] {
    width: 25px !important;
    height: 25px !important;
  }

  textarea {
    &::placeholder {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  label {
    color: #0a2e64;
    font-size: 0.8rem;
    font-weight: 300;
  }
  div {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 0.8rem;
      font-weight: 300;
      color: #0a2e64;
    }
  }
}
