.week-diagram {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  button {
    padding: 5px;
  }
  > span {
    color: #0a2e64;
    padding: 30px;
    svg {
      color: rgb(231, 156, 106);
    }
  }
  .day {
    display: flex;
    column-gap: 1px;
    .day-label {
      background-color: #4b81d3;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      width: 10%;
      padding: 5px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: 0.6rem;
    }
    .day-hours {
      position: relative;
      width: 85%;
      display: flex;
      column-gap: 1px;
      align-items: flex-end;
      .hour {
        flex-grow: 1;
        background-color: rgb(162, 164, 187);
        width: calc(100% / 25);
        height: 100%;
        padding: 5px;
        font-size: 0.6rem;
      }
      .time-frame {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0a2e64;
        // mix-blend-mode: color-burn;
        opacity: 0.8;

        padding: 5px;
        height: 100%;
        transition: 0.3s;
        span.time-frame-span-info {
          writing-mode: vertical-rl;
          text-orientation: mixed;
          font-size: 0.6rem;
          color: rgb(255, 255, 255);
          font-weight: 300;
          letter-spacing: 1px;
        }

        &:hover {
          background-color: rgb(187, 28, 0);
          mix-blend-mode: color-burn;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .week-diagram {
    button {
      padding: 5px;
    }
    .day {
      .day-label {
        font-size: 0.4rem;
      }
    }
  }
}
